<mat-card>
    <mat-card-content>
        <h2>Forgot Password Form</h2>
        
        <form [formGroup] = "forgotPasswordForm" (submit)="getPassword(forgotPasswordForm.value)">
            <mat-form-field appearance="fill">
                <mat-label>User Role</mat-label>
                <mat-select formControlName="role" name="role" required ngModel >
                  <mat-option value="customer">Customer</mat-option>
                  <mat-option value="staff">Staff</mat-option>
                  <mat-option value="admin">Admin</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="username" placeholder="Username" name="username" required ngModel>
                <span style="color: red; font-size: x-small;" class="text-danger" *ngIf="forgotPasswordForm.controls['username'].dirty && forgotPasswordForm.hasError('required','username')">Username is required</span>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="mobile" type="number" placeholder="Mobile" name="mobile" required ngModel>
                <span style="color: red; font-size: x-small;"  class="text-danger" *ngIf="forgotPasswordForm.controls['mobile'].dirty && forgotPasswordForm.hasError('required','mobile')">Mobile</span>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid">get password</button>
        </form>

    </mat-card-content>
</mat-card>